/* Import font */
@import url("https://fonts.googleapis.com/css?family=Big+Shoulders+Text:100,300,400,500,600,700,800,900&display=swap");

/* Global styles */
body {
  font-family: "Big Shoulders Text", cursive;
  margin: 0;
  padding: 0;
  color: #333;

}

/* Header styles */
.about-container,
.logo-container {
  text-align: center;
  color: #333
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 100;
  width: 100%;
  height: auto;
}

.logo {
  width: 100%;
  height: auto;
}
.logo-container {
  width: 100%;
  /*border-top: 5px solid black;*/
  height: auto;
  background-color: rgba(255, 255, 255, 0.5);
  
}

/* Center the locations container in the carousel */
.locations-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: 70%;
  text-align: center; /* Optional: Center the text inside the container */
  background-color: rgba(255, 255, 255, 0.5);
  color: #333;
  font-family: "Big Shoulders Text", cursive;
  font-size: x-large;
  font-weight: 600;
  z-index: 100;
  transform: translateY(-150%);
}

.location {
  display: flex;
  flex-direction: column;
  margin: 1px;
  align-items: center;
  font-family: "Big Shoulders Text", cursive;
  font-size: x-large;
  color: #333;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 300;
}

.locations a {
  text-decoration-style: solid;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  font-family: "Big Shoulders Text", cursive;
  font-size: x-large;
  color: #333;
}

.locations {
  border: 2px solid black;
  color: black;
  padding: 1px;
  border-radius: 8px;
}

.tile span {
  color: #333;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Big Shoulders Text", cursive;
  margin: 1px;
}

/* Media query for mobile */
@media screen and (max-width: 576px) {
  .locations-container {
    width: 100%;
    top: 90%; /* Center vertically on top of the carousel in mobile */
    left: 0;


    transform: translateY(-150%); /* Adjust for vertical centering */
  }
}


/* Media query for smaller screens */
@media screen and (max-width: 576px) {
  .about-container,
  .logo-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .logo {
    width: 50%;
    height: auto;

  }
}

/* Navigation styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  color: #fff;
  position: absolute;
  width: 100%;
  z-index: 100;

  }


nav-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 2em;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 20px;
}

/* Add this CSS block to style the navigation bar image */
.navbar-brand img {
  max-width: 100px; /* Set the maximum width of the logo */
  height: auto; /* Maintain the aspect ratio */
  margin-right: 10px; /* Adjust the margin for spacing */
}

/* Optional: Add a style for the navbar background color */
.navbar {
  background-color: white;
  color: #333;
}
.navbar-nav {
  background-color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-size: 1,1em;
  margin: 0 10px;
  text-decoration: none;
  font-family: "Big Shoulders Text", cursive;
  font-weight: 300;
}
.navbar-nav a {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.1em;
  margin: 0 10px;
  text-decoration: none;
  font-family: "Big Shoulders Text", cursive;
  font-weight: 300;
}
.nav-item {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.1em;
  margin: 0 10px;
  text-decoration: none;
  font-family: "Big Shoulders Text", cursive;
  font-weight: 300;
}
.nav-item a {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.1em;
  margin: 0 10px;
  text-decoration: none;
  font-family: "Big Shoulders Text", cursive;
  font-weight: 300;
}
.nav-item a:hover {
  color: white;
  text-decoration: none;
}
.nav-link {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.1em;
  margin: 0 10px;
  text-decoration: none;
  font-family: "Big Shoulders Text", cursive;
  font-weight: 300;
}
/* Media queries */
@media (max-width: 768px) {
  .nav-flex-row {
    margin-top: 10px;
  }

  /* Dropdown styles */
  .dropdown {
    display: block;
    position: relative;
    background-color: none;
    box-shadow: none;
    width: 100%;
    margin-top: 0;
  }

  .dropdown li,
  .dropdown li:last-child {
    border-bottom: none;
  }

  .dropdown li a {
    color: #333;
  }
}

/* Footer styles */
.footer {
  background-color: rgba(14, 77, 141, 255);
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* Social links */
.social-links a {
  color: #fff;
  margin: 0 10px;
  font-size: 24px;
  text-decoration: none;
  display: inline-block; /* Ensure proper spacing between social icons */
}

/* Responsive styles */
@media (max-width: 576px) {
  .social-links {
    flex-direction: column;
    align-items: center;
  }

  .social-links a {
    margin: 5px 0;
  }
}

/* Button styles */
#order-now-btn {
  background-color: teal;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-top: 20px;
}

#order-now-btn:hover {
  background-color: #ff0055;
}

/* Section styles */
.section-intro {
  height: 820px;
  background-image: url(img/homepage.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-intro h1 {
  text-align: center;
  color: #ffffff;
  font-size: 4em;
  font-weight: 700;
}

/* About and Form section styles */
.button-section,
.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f3f3c0;
  padding: 10px;
}

.link-to-book,
.form-group p {
  font-size: 1.2em;
}

a.link-to-book:hover {
  background-color: #ffffff;
  color: #95999e;
  text-decoration: none;
}


.about-section p,
.about-section h3 {
  text-align: center;
  width: 90%;
  margin: auto;
  font-family: "Big Shoulders Text", cursive;
  font-size: 1.5em;
  text-transform: uppercase;
}

h1 {
  text-align: center;
  width: 95%;
  margin: auto;
  font-family: "Big Shoulders Text", cursive;
  font-size: .9em;
  text-transform: uppercase;
}

p {
  text-align: center;
  width: 85%;
  margin: 15px auto;
  font-family: "Big Shoulders Text", cursive;
  font-size: 1.5em;
}
  
.row-flex,
.flex-column-form,
.opening-time,
.contact-adress {
  display: flex;
  flex-direction: row;
  margin: 30px 20px;
}

/* Form button styles */
.btn.btn-primary {
  font-family: "Big Shoulders Text", cursive;
  color: #ffffff;
  background-color: #95999e;
  text-transform: uppercase;
  font-size: 16px;
  padding: 5px 10px;
  letter-spacing: 2px;
  border: 0;
}

.btn.btn-primary:hover {
  background-color: #747474;
}

/* Opening time and contact address styles */
.opening-time,
.contact-adress {
  flex: 1;
  font-size: 1.2em;
}

.opening-time p span,
.contact-adress p span {
  display: block;
}

/* Carousel styles */
.carousel-inner {
  height: 100%;
}

.carousel-item {
  height: 100%;
  border-top: 5px solid black;
}

.carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (max-width: 576px) {
  .carousel-inner {
    height: 300px;
  }

  .carousel-item img {
    height: 300px;
  }
}

/* Default styles for FOOD MENU section */
.food-menu {
  text-align: center;
  margin: 20px 0;
}

.food-menu img {
  max-width: auto;
  height: auto;
  display: flex;
  flex-direction: wrap;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-container {
  width: auto;
  height: auto;
}

/* Media query for mobile devices */
@media only screen and (max-width: 767px) {
  .food-menu {
    margin: 10px 0; /* Adjust margin for smaller screens */
  }

  .food-menu img {
    max-width: 100%; /* Make images responsive to the width of the screen */
    height: auto;
    margin: 5px auto; /* Adjust margin for smaller screens */
    box-shadow: none; /* Remove box shadow on smaller screens */
  }

  .menu-container {
    height: auto; /* Adjust height for smaller screens */
  }
}